name: Generate ASCII Artwork

on:
    push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
        - name: checkout Repo
          uses: actions/checkout@v6

        - name: checkout Repo Files
          run: ls -ltr  

        - name: Executing in shell script
          run: ./ascii-script.sh

       
